# This needs to sync with cecli/help_pats.py

include requirements/requirements.in
include requirements/requirements-dev.in
include requirements/requirements-help.in
include requirements/requirements-playwright.in

global-exclude .DS_Store

recursive-exclude cecli/website/examples *
recursive-exclude cecli/website/_posts *

exclude cecli/website/HISTORY.md
exclude cecli/website/docs/benchmarks*.md
exclude cecli/website/docs/ctags.md
exclude cecli/website/docs/unified-diffs.md

exclude cecli/website/install.ps1
exclude cecli/website/install.sh

recursive-exclude cecli/website/docs/leaderboards *
recursive-exclude cecli/website/assets *
recursive-exclude cecli/website *.js
recursive-exclude cecli/website *.html
recursive-exclude cecli/website *.yml
